h1 {
  background-color: red;
  color: #f5ff61;
  text-align: center;
}

h2 {
  color: #ffffff;
  font-style: bold;
  text-align: center;
}

p {
  font-family: sans-serif;;
  background-color: #ff61f8;
}

ul {
  opacity: .25;
  background-color: #0cff00;
  font-size: 50px;
  line-height: 30px;
}
body {
  background-color: #33FFE9;
}
